#Ignore DB file
*.sqlite

# Environment configuration
.env*
!.env*.example

# Composer artifacts
/vendor/
.phpunit.cache/
/var/*
!/var/.gitignore
/mysql_data/
/build/

# macOS
.DS_Store

#Ignore mikrotik configuration
mikrotik_configuration.txt

#.idea
.idea

/deliver.sh

